<!DOCTYPE HTML>
<h2>MCToolkit Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <table>
    <tr>
	  <td style="padding-top: 3px; text-align: right; padding-right: 5px; padding-bottom: 2px"><%= f.label text='Last Name' %></td>
      <td><%= f.text_field :lastname, :autofocus => true %></td>
	</tr>

  <div><%= f.label text='First Name' %><br />
  <%= f.text_field :firstname, :autofocus => true %></div>

  <div><%= f.label text='Rank' %><br />
  <%= f.text_field :rank, :autofocus => true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <% @ex = Exercise.find_by(name: CurrentExercise.first.name)
     if @ex != nil
       @units = @ex.units
       unit_list = Array.new
       @units.each do |unit|
         unit_list.push(unit.unit_name)
       end
     else
       unit_list = nil
     end %>

  <div>
    <%= f.label text='Assigned Unit' %><br>
    <%= f.select :unit_assign, options_for_select(unit_list) %>
  </div>

  <div><%= f.label text='Role' %><br />
  <%= f.select :role, options_for_select(['OC/T','Analyst','CHOT']) %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
