<%= form_for(@mct) do |f| %>
  <% if @mct.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mct.errors.count, "error") %> prohibited this mct from being saved:</h2>

      <ul>
      <% @mct.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
	  <td style="padding-top: 3px; text-align: right; padding-right: 5px; padding-bottom: 2px"><%= f.label text='Email:' %></td>
      <td><%= f.text_field :email %></td>
	</tr>
	<tr>
	  <td style="text-align: right; padding-right: 5px; padding-bottom: 2px; padding-top: 3px"><%= f.label text='Last Name:', style: 'vertical-align: middle' %></td>
      <td><%= f.text_field :lastname %></td>
	</tr>
	<tr>
	  <td style="text-align: right; padding-right: 5px; padding-bottom: 2px; padding-top: 3px"><%= f.label text='First Name:' %></td>
      <td><%= f.text_field :firstname %></td>
	</tr>
	<tr>
	  <td style="text-align: right; padding-right: 5px; padding-bottom: 2px; padding-top: 3px"><%= f.label text='Rank:' %></td>
      <td><%= f.text_field :rank %></td>
	</tr>
	<tr>
	  <td style="text-align: right; padding-right: 5px; padding-bottom: 2px; padding-top: 3px"><%= f.label text='Assigned Unit:' %></td>
      <td><%= f.collection_select :unit_assign, @units, :unit_name, :unit_name %></td>
	</tr>
	<tr>
	  <td style="text-align: right; padding-right: 5px; padding-bottom: 2px; padding-top: 3px"><%= f.label text='Role:' %></td>
      <td><%= f.collection_select :role, $rolelist, :title, :title %></td>
    </tr>
  </table>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
