<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h1>Users</h1></div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Email</th>
      <th>Last name</th>
      <th>First name</th>
      <th>Rank</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @mcts.each do |mct| %>
        <tr>
          <td><%= mct.email %></td>
          <td><%= mct.lastname %></td>
          <td><%= mct.firstname %></td>
          <td><%= mct.rank %></td>
          <td><%= mct.role %></td>
          <td>
            <% if current_mct.role != 'admin' %>
                <%= link_to edit_mct_path(mct), :class => "btn btn-xxs" do %><i class="glyphicon glyphicon-pencil"></i> Edit<% end %>
            <% end %>
            <% if current_mct.role == 'admin' %>
                <%= link_to edit_mct_registration_path(mct), :class => "btn btn-xxs" do %><i class="glyphicon glyphicon-pencil"></i> Edit<% end %>
            <% end %>
            <%= link_to mct, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xxs" do %><i class="glyphicon glyphicon-trash"></i> Delete<% end %>

          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to new_mct_path, :class => "btn btn-xs" do %><i class="glyphicon glyphicon-plus"></i> New User<% end %>
