<%= stylesheet_link_tag "aristo/theme" %>  
<%= stylesheet_link_tag "prime-ui" %>   
  
<%= javascript_include_tag "prime-ui" %>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h1>Mission Command Toolkit</h1></div>
  <div class="panel-body">
    <h2> Current Exercise: <%= CurrentExercise.first.name %></h2>
	  <br/>
	  <h3>Announcements:</h3>
	  <br/>
	  <%= p_panel('calendar',title: 'Exercise Calendar',style: 'margin-bottom:20px; width: 70%; text-align: center', toggleable: true)  do %>
	    <%= render 'events/cal' %>
	  <% end %>
	
  </div>
</div>