<%= stylesheet_link_tag "aristo/theme" %>  
<%= stylesheet_link_tag "prime-ui" %>   
  
<%= javascript_include_tag "prime-ui" %>

<div style="text-align: center">
    <h1><%= CurrentExercise.first.name %></h1>
</div>
<br/>
<div class="panel panel-default">
    <div class="panel-heading" style="text-align: center"><%= link_to 'Exercise Updates', events_path, class: 'h2' %></div>
    <br/>
</div>
<br/>

