<%= stylesheet_link_tag "aristo/theme" %>  
<%= stylesheet_link_tag "prime-ui" %>   
  
<%= javascript_include_tag "prime-ui" %>

<div style="text-align: center">
    <h1><%= CurrentExercise.first.name %></h1>
</div>
<br/>
<%= p_panel('announce',title: 'Announcements', style: 'text-align: center')  do %>
  <br/>
<% end %>
<br/>
<div class="panel panel-default">
    <div class="panel-heading" style="text-align: center"><%= link_to 'Exercise Calendar', events_path, class: 'h2' %></div>
    <%= render 'events/cal' %>
</div>
<%= p_panel('calendar',title: 'Exercise Calendar',style: 'text-align: center')  do %>
  <%= render 'events/cal' %>
<% end %>