<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :unit_name %><br>
    <%= f.text_field :unit_name %>
  </div>
  <div id="ctos">
    <% f.fields_for :ctos do |cto_form| %>
	  <div class="cto">
	    <%= cto_form.label :cto, "CTO:" %>
        <%= cto_form.text_field :cto %>
		<%= remove_link_unless_new_record(cto_form) %>
	  </div>
	  <% end %>
  </div>
  <%= add_cto_link "Add a CTO", f %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
