<strong>Unit Fields</strong>
<div class="nested-fields panel panel-default">
  <div class="field panel-body">
    <span style="float: left"><%= f.label text='Unit Designation:' %></span>
    <div style="clear: both;"></div>
    <%= f.text_field :unit_name %>
  </div><br/>
  <div id="ctos">
    <%= f.fields_for :ctos do |cto| %>
        <%= render 'cto_fields', :f => cto %>
    <% end %>
    &nbsp;<%= link_to_add_association f, :ctos, :class => "btn btn-xs btn-success" do %><i class="glyphicon glyphicon-plus"></i> Add CTO<% end %><br/><br/>
  </div>
</div>