<div class="nested-fields">
  <div class="field">
    <%= f.label :unit_name %>
    <br/>
    <%= f.text_field :unit_name %>
  </div>
  <div id="ctos">
    <%= f.fields_for :ctos do |cto| %>
        <%= render 'cto_fields', :f => unit %>
    <% end %>
    <%= link_to_add_association 'add cto', f, :units %>
  </div>
  <%= link_to_remove_association "Remove cto", f %>
</div>