<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h1>Master Exercise List</h1></div>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Start</th>
          <th>End</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @exercises.each do |exercise| %>
          <tr>
            <td style="width: 200px"><%= link_to exercise, :class => 'exercise' do%><%= exercise.name %><% end %></td>
            <td style="width: 100px"><%= exercise.start %></td>
            <td style="width: 100px"><%= exercise.end %></td>
            <td style="width: 200px">
              <%= link_to exercise, :class => "btn btn-xxs btn-default" do %><i class="glyphicon glyphicon-eye-open"></i> View<% end %>
              <%= link_to edit_exercise_path(exercise), :class => "btn btn-xxs btn-default" do %><i class="glyphicon glyphicon-pencil"></i> Edit<% end %>
              <%= link_to exercise, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xxs btn-danger" do %><span style="color: #FFFFFF"><i class="glyphicon glyphicon-trash"></i> Delete</span><% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to new_exercise_path, style: 'margin-left: 5px; margin-bottom:5px', :class => "btn btn-xs btn-success" do %><span style="color: #FFFFFF"><i class="glyphicon glyphicon-plus"></i> New Exercise</span><% end %>
</div>
