<h1>Listing exercises</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start</th>
      <th>End</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td style="width: 200px"><%= exercise.name %></td>
        <td style="width: 100px"><%= exercise.start %></td>
        <td style="width: 100px"><%= exercise.end %></td>
        <td style="width: 100px">
		  <%= link_to edit_exercise_path(exercise), :class => "btn btn-xxs" do %><i class="glyphicon glyphicon-pencil"></i> Edit<% end %>
          <%= link_to exercise, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xxs btn-danger" do %><i class="glyphicon glyphicon-trash"></i> Delete<% end %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise', new_exercise_path %>
