<!DOCTYPE html>
<html>
<head>
  <title>MCToolkit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="nav navbar-left">
      <%= image_tag "75th_Infantry_Division_patc.jpg", size: "40x40", style: "padding-top: 6px; padding-bottom: 0px" %>
    </div>

      <div class="navbar-collapse collapse" id="navbar-main">
        <nav>
          <%= link_to homes_path, :class => "btn btn-trans" do %><h41>Home</h41><% end %>
          <% if mct_signed_in? %>
              <%= link_to '#', :class => "btn btn-trans" do %><h41>Observations</h41><% end %>
              <% if current_mct.role != 'OC/T' %>
                <%= link_to '#', :class => "btn btn-trans" do %><h41>Analysis</h41><% end %>
                <%= link_to '#', :class => "btn btn-trans" do %><h41>AAR</h41><% end %>
              <% end %>
              <% if current_mct.role == 'admin' %>
                <%= link_to mcts_path, :class => "btn btn-trans" do %><h41>Accounts</h41><% end %>
                <%= link_to exercises_path, :class => "btn btn-trans" do %><h41>Exercise</h41><% end %>
              <% end %>
          <% end %>
          <div class="nav navbar-right" style="padding-top: 0px">
            <% if mct_signed_in? %>
                <div class="dropdown">
                  <button class="btn btn-trans dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownMenu1"><h42><%= current_mct.rank + " " + current_mct.firstname + " " + current_mct.lastname %></h42><span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li><%= link_to 'Logout', destroy_mct_session_path, :method => :delete %></li>
                    <li><%= link_to 'Edit profile', edit_mct_path(current_mct) %></li>
                  </ul>
                </div>


            <% else %>
                <%= link_to new_mct_session_path, :class => "btn btn-xxs btn-trans" do %><h42>Login</h42><% end %>
                <%= link_to new_mct_registration_path, :class => "btn btn-xxs btn-trans" do  %><h42>Register</h42><% end %>
            <% end %>
          </div>
        </nav>
      </div>
  </div>

</div>

<div class="container" style="padding-top: 75px">
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>


</body>
</html>
