<!DOCTYPE html>
<html>
<head>
  <title>MCToolkit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <div class="navbar-header">
                    <%= link_to "sample app", '#', id: "logo" %>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to "Home", '#' %></li>
            <li><%= link_to "Help", '#' %></li>
            <li><%= link_to "Sign in", '#' %></li>
          </ul>
        </nav>
      </div>
  </div>

</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="container" style="padding-top: 60px">
  <%= yield %>
</div>

<%= render 'layouts/user_widget' %>

</body>
</html>
